#product-details {
    padding: 20px 0;
}

.product-details-top {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.product-details-bottom {
    padding: 10px 20px 20px 20px;
}

.carproduct-detailsd-bottom h3 {
    color: #0CAF1D;
    font-size: 20px;
    cursor: default;
}

.product-details-bottom h4 {
    color: #636363;
    font-size: 12px;
    cursor: default;

}

.product-details-bottom p {
    margin: 10px 0;
    color: #636363;
    font-size: 12px;
    cursor: default;
}

.product-details-top img {
    width: 220px;
}

.category-container {
    display: flex;
    cursor: default;
}

.category {
    margin-right: 20px;
    padding: 0 20px;
    background-color: #636363;
    border-radius: 4px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}